/web/bundles
/app/bootstrap.php.cache
/app/cache/*
app/cache
app/config/parameters.yml
app/logs/*
app/Resources/sass/.*
!app/cache/.gitkeep
!app/logs/.gitkeep
bin/
composer.phar
composer_modules/
bower_modules/
node_modules/
web/bundles
web/css/*
web/js/*
web/font/*